html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

body {
  font-family: Helvetica, sans-serif; }

header {
  position: fixed;
  width: 100%;
  padding: 20px;
  background: #dadada; }

.wrapper {
  max-width: 1040px;
  margin: 0 auto;
  padding: 10px;
  padding-top: 70px;
  background-color: #fff; }

/* resets */
*,
*:before,
*:after {
  box-sizing: border-box; }

.clearfix:after {
  content: "";
  display: table;
  clear: both; }

.row {
  margin: -10px -10px;
  margin-bottom: 20px; }

.row:last-child {
  margin-bottom: 0; }

[class*="col-"] {
  padding: 10px;
  float: left; }

@media only screen {
  .col-s-1 {
    width: 8.33%; }

  .col-s-2 {
    width: 16.66%; }

  .col-s-3 {
    width: 25%; }

  .col-s-4 {
    width: 33.33%; }

  .col-s-5 {
    width: 41.66%; }

  .col-s-6 {
    width: 50%; }

  .col-s-7 {
    width: 58.33%; }

  .col-s-8 {
    width: 66.66%; }

  .col-s-9 {
    width: 75%; }

  .col-s-10 {
    width: 83.33%; }

  .col-s-11 {
    width: 91.66%; }

  .col-s-12 {
    width: 100%; } }
@media only screen and (min-width: 480px) {
  .col-m-1 {
    width: 8.33%; }

  .col-m-2 {
    width: 16.66%; }

  .col-m-3 {
    width: 25%; }

  .col-m-4 {
    width: 33.33%; }

  .col-m-5 {
    width: 41.66%; }

  .col-m-6 {
    width: 50%; }

  .col-m-7 {
    width: 58.33%; }

  .col-m-8 {
    width: 66.66%; }

  .col-m-9 {
    width: 75%; }

  .col-m-10 {
    width: 83.33%; }

  .col-m-11 {
    width: 91.66%; }

  .col-m-12 {
    width: 100%; } }
@media only screen and (min-width: 768px) {
  .col-l-1 {
    width: 8.33%; }

  .col-l-2 {
    width: 16.66%; }

  .col-l-3 {
    width: 25%; }

  .col-l-4 {
    width: 33.33%; }

  .col-l-5 {
    width: 41.66%; }

  .col-l-6 {
    width: 50%; }

  .col-l-7 {
    width: 58.33%; }

  .col-l-8 {
    width: 66.66%; }

  .col-l-9 {
    width: 75%; }

  .col-l-10 {
    width: 83.33%; }

  .col-l-11 {
    width: 91.66%; }

  .col-l-12 {
    width: 100%; } }
@media only screen and (min-width: 1200px) {
  .col-xl-1 {
    width: 8.33%; }

  .col-xl-2 {
    width: 16.66%; }

  .col-xl-3 {
    width: 25%; }

  .col-xl-4 {
    width: 33.33%; }

  .col-xl-5 {
    width: 41.66%; }

  .col-xl-6 {
    width: 50%; }

  .col-xl-7 {
    width: 58.33%; }

  .col-xl-8 {
    width: 66.66%; }

  .col-xl-9 {
    width: 75%; }

  .col-xl-10 {
    width: 83.33%; }

  .col-xl-11 {
    width: 91.66%; }

  .col-xl-12 {
    width: 100%; } }
